[
 {
   elvis,
   [
    {config,
     [#{dirs => [ "src", "test"  ],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [ {elvis_style, dont_repeat_yourself, disable},
                   {elvis_style, god_modules,
                    #{ignore => [aws_dynamodb]}},
                   {elvis_style, invalid_dynamic_call,
                    #{ignore => [ aws ]}},
                   {elvis_style, no_debug_call, disable},
                   {elvis_style, line_length, #{limit => 90}},

                   {elvis_style, macro_module_names, disable},
                   {elvis_style, macro_names,        disable},
                   {elvis_style, no_if_expression,   disable},
                   {elvis_style, operator_spaces,    disable},
                   {elvis_style, no_behavior_info,   disable},
                   {elvis_style, module_naming_convention, disable},

                   {elvis_style, nesting_level, #{level => 4}},
                   {elvis_style, function_naming_convention,
                    #{ignore => [ ],
                      regex => "^([a-z][_a-z0-9]*_?)*$"
                     }},
                   {elvis_style, variable_naming_convention,
                    #{ignore => [ ],
                      regex => "^(_?[A-Z][0-9a-zA-Z]*|FUNCTION_(ARITY|NAME)|__[A-Z])$"
                     }},
                   {elvis_style, no_tabs}
                 ]
       },
      #{dirs => ["."],
        filter => "rebar.config",
        rules => [ {elvis_project, protocol_for_deps_rebar, disable} ],
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
