{edoc_opts, [ {overview, "priv/overview.edoc"}
            , {stylesheet_file, "priv/stylesheet.css"}
            ]}.

{dialyzer, [{warnings, [error_handling, unknown, unmatched_returns]}]}.

{xref_checks, [ undefined_function_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.

{profiles, [ {jenkins, [ {erl_opts, [warnings_as_errors]}
                       , {plugins, [{covertool, "2.0.0"}]}
                       , {cover_enabled, true}
                       , {cover_export_enabled, true}
                       , {covertool, [{coverdata_files, ["eunit.coverdata"]}]}
                       , {eunit_opts, [{report,{eunit_surefire,[{dir,"_build/jenkins+test"}]}}]}
                       ]}
           ]}.

{deps, []}.
{overrides, []}.
